<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.superagent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".deposits.DepositSuccess"
            android:parentActivityName=".deposits.DepositTransaction"/>
        <activity android:name=".deposits.DepositTransaction"
            android:parentActivityName=".deposits.Deposit"/>
        <activity
            android:name=".transactions.TransactionsHistory"
            android:parentActivityName=".home.HomeScreen" />
        <activity
            android:name=".withdrawal.WithdrawalTransaction"
            android:parentActivityName=".withdrawal.Withdraw" />
        <activity
            android:name=".withdrawal.Withdraw"
            android:parentActivityName=".home.HomeScreen" />
        <activity
            android:name=".deposits.Deposit"
            android:parentActivityName=".home.HomeScreen" />
        <activity android:name=".home.HomeScreen" />
        <activity android:name=".loginSignUp.SetPin" />
        <activity android:name=".loginSignUp.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>